.container {
    width: 400px;
    height: 500px;
    background-color: cyan;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}
.todos-header {
    font-size: 30px;
}
.add-todos {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    
}
.add-input {
    flex: 2;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}
.add-btn {
    width: 45px;
    text-align: center;
    font-size: 20px;
    background-color: gray;
    height: 100%;
    border-radius: 10px;
    position: relative;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
    
}
.add-btn:hover {
    color: white;
    background-color: green;
    transform: scale(.9);
}
.todo-list {
    margin-top: 10px;
    overflow-y: scroll;
    padding-bottom: 15px;
}
.todo-list::-webkit-scrollbar {
    width: 0;
}